<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Client</title>

   
    

    

<link href="/static/css/bootstrap.min.css" rel="stylesheet">

   <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    

  </head>
  <body >
    
    <div class="container">
      <main class=" w-100 m-auto">
        <%- include('../message') %>
  <form method="post" action="/userContact">
      <img class="mb-4" src="data:image/png;base64,<%= product.photo %> " alt="" width="72" height="57">
       <label class="mb-3" for="">  <%= product.name %> </label>
      <h1 class="h3 mb-3 fw-normal">Renseignes vos informations</h1>
  <div class="row">
    <div class="col">
      <div class="form-floating">
        <input type="text" name="name" class="form-control" id="floatingInput" placeholder="votre nom ">
        <label for="floatingInput">Nom et prenoms</label>
      </div>
    </div><br/>
      <div class="col">
          <div class="form-floating">
          <input type="number" name="phoneNumber" class="form-control" id="floatingPassword" placeholder="91334455">
          <label for="floatingPassword">Numéro de telephone</label>
      </div>
    </div>

    </div><br/>
      <div class="row">
        <div class="col">
          <div class="form-floating">
          <input type="text" name="quartier"  class="form-control" id="floatingInput" placeholder="votre quartier">
          <label for="floatingInput">Quartier de résidence</label>
        </div>
      </div>

      <div class="col">
        <label for="">sexe</label>
        <select name="sexe" class="form-select" aria-label="Default select example" placeholder="sexe">
            <option selected value="M">M</option>
            <option value="F">F</option>
        </select>
      </div>

    </div><br/>
  
  
  <div class="row">
    <div class="col">
      
  <button class="w-100 btn btn-lg btn-primary" type="submit">Soumettre</button>

    <p class="mt-5 mb-3 text-muted">&copy; Flash 2022</p>

    </div>
  </div>
  
  </div>
</div>
<input type="hidden" name="id"  value="<%= id  %> ">
  </form>
</main>
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Show a second modal and hide this one with the button below.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
      </div>
    </div>
  </div>
</div>

<%- include('../js') %>
  </body>
</html>
